<li class="dropdown">
  <a class="btn btn-default dropdown-toggle {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}}" data-toggle="dropdown">
    {{#if options.toolbar.fa}}
      <span class="fa fa-text-height"></span>
    {{else}}
      <span class="glyphicon glyphicon-text-size"></span>
    {{/if}}
    <span class="current-size">{{locale.font_size.x12}}</span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x8" tabindex="-1">{{locale.font_size.x8}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x9" tabindex="-1">{{locale.font_size.x9}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x10" tabindex="-1">{{locale.font_size.x10}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x11" tabindex="-1">{{locale.font_size.x11}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x12" tabindex="-1">{{locale.font_size.x12}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x13" tabindex="-1">{{locale.font_size.x13}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x14" tabindex="-1">{{locale.font_size.x14}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x15" tabindex="-1">{{locale.font_size.x15}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x16" tabindex="-1">{{locale.font_size.x16}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x17" tabindex="-1">{{locale.font_size.x17}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x18" tabindex="-1">{{locale.font_size.x18}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x19" tabindex="-1">{{locale.font_size.x19}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x20" tabindex="-1">{{locale.font_size.x20}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x21" tabindex="-1">{{locale.font_size.x21}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x22" tabindex="-1">{{locale.font_size.x22}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x23" tabindex="-1">{{locale.font_size.x23}}</a></li>
    <li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x24" tabindex="-1">{{locale.font_size.x24}}</a></li>
  </ul>
</li>
